@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.flex-container {
  display :flex;
  padding : 5px;
  align-items: center;
  justify-content: center;
}

div.polaroid {
  background-color: white;
  padding : 10px;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 , 0.19);
}

div.container{
  text-align: center;
  padding : 10px 20px;
}

body{
  background: #ffffff;
}

.button{
  display : inline-block;
  padding : 0.3em 1.2em;
  margin : 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #2c3e50;
  background-color : #f1c40f;
  text-align : center;
  transition : all 0.2s;
}

.button:hover{
  background-color : #f39c12;
}

.button-back{
  display : inline-block;
  padding : 0.3em 1.2em;
  margin : 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #2c3e50;
  background-color : #ffffff;
  text-align : center;
  transition : all 0.2s;
}

.button-back:hover{
  background-color : #f39c12;
}